@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --color-primary-blue: #1b15b0;
  --color-teal-custom: #0490da;
  --color-accent-yellow: #cde300;
  --color-neutral: #0a0a0a;
  --color-violet: #7c3aed;
  --color-dark-violet: #6a31ce;
  --color-gray-border: #525252;
  --color-white-table: #fafafa;
  --color-light-orange: #ff8c00;
  --color-white-neutral: #fafafa;
  --color-dark-purple: #2e1065;
  --color-ruby: #9a3242;
  --color-light-red: #feeef0;

  --animate-fade-in: fade-in 2s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.custom-gradient-bg {
  position: relative;
  overflow: hidden;
}

.custom-gradient-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  filter: contrast(105%);

  background: conic-gradient(
    from 110deg at 61.01% 66%,
    #8be199 0deg,
    #a3e88b 15deg,
    #e7fe74 60deg,
    #ffe074 130deg,
    #ffb05a 200deg,
    #ff5a5a 270deg,
    #d40505 330deg,
    #8be199 360deg
  );
}

.filter-black {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(100%);
}

.filter-violet {
  filter: brightness(0) saturate(100%) invert(29%) sepia(93%) saturate(687%)
    hue-rotate(244deg) brightness(92%) contrast(98%);
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card Flip */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
